{% extends '@SyliusAdmin/layout.html.twig' %}

{# @var \Setono\SyliusMiintoPlugin\Model\OrderInterface order #}

{% block title %}{{ 'sylius.ui.order'|trans ~' #'~ order.id }} {{ parent() }}{% endblock %}

{% block content %}
    {{ sonata_block_render_event('setono_sylius_miinto.admin.order.show.before_header', {'resource': resource}) }}

    <div class="ui stackable two column grid">
        <div class="ten wide column">
            {% include '@SetonoSyliusMiintoPlugin/Admin/Order/Show/_header.html.twig' %}
        </div>
    </div>

    {{ sonata_block_render_event('setono_sylius_miinto.admin.order.show.after_header', {'resource': resource}) }}

    {% include '@SetonoSyliusMiintoPlugin/Admin/Order/Show/_breadcrumb.html.twig' %}

    {{ sonata_block_render_event('sylius.admin.order.show.after_breadcrumb', {'resource': resource}) }}

    <div class="ui stackable grid">
        <div class="eight wide column">
            <div class="ui segment">
                <h4 class="ui top attached styled header">
                    {{ 'setono_sylius_miinto.ui.all_data'|trans }}
                </h4>
                <div class="ui accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        {{ 'sylius.ui.view'|trans }}
                    </div>
                    <div class="content" style="font-size:0.8rem;overflow-x:auto">
                        {{ setono_sylius_miinto_dump(order.data) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            {% if order.errors|length > 0 %}
                <div class="ui segment">
                    <h4 class="ui top attached styled header">
                        {{ 'setono_sylius_miinto.ui.errors'|trans }}
                    </h4>
                    <ul class="ui list">
                        {% for error in order.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    {{ sonata_block_render_event('setono_sylius_miinto.admin.order.show.after_content', {'resource': resource}) }}
{% endblock %}
